* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #1f2937;
    color: #fff;
}

.head {
    width: 70%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    margin: 0;
}

ul {
    display: flex;
    flex: 1;
    color: #f9faf8;
    justify-content: flex-end;
}

.nav-bar ul li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: .4em .6em;
    border-radius: 5px;
}

.nav-bar a:hover {
    background-color: #3882f6;
    color: #fff;
}

li {
    list-style: none;
    margin: 0 1em;
}

.nav-bar .logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.introduction {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 40vh;
    margin-top: 20px;
}
.introduction h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.introduction p {
    font-size: 18px;
    color: #e5e7eb;
}

.introduction button {
    border: none;
    background-color: #3882f6;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 12px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.introduction img {
    width: 350px;
    height: 200px;
}


.container {
    width: 60%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 40px;
}

.container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #1f2937;
}

.boxes {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    margin-top: 1em;
}

.box img {
    width: 200px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
